 @media print { 
    body {
        background: none;
        font-family: Times New Roman, Georgia, Palatino;
        margin: 50px;
    }
    
    ul {
        display: none;
    }
     
    .up{
        display: none;
    }
     
    .more{
        display: block;
    }
     
    .new a{
        display: none;
    }
}